.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  display: flex;
  color: $color-grey;
  padding: 1.4rem 2rem;
  column-gap: 2rem;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;

  @include respond(tab-port) {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.7rem 1rem;
  }
  @media only screen and (max-width: 444px) {
    font-size: 1.3rem;
  }
  & > *:not(:nth-child(3)) {
    cursor: pointer;
  }
  & span:nth-of-type(2) {
    display: flex;
    align-items: center;
    column-gap: 2px;
  }
  &__icons {
    display: flex;
    column-gap: 1.5rem;
    margin-right: auto;
    @include respond(tab-port) {
      margin-right: 0;
    }
    & svg {
      fill: #fff;
      height: 2rem;
      width: 2rem;
    }
  }
}
